img {
    height: 150px;
    width: 150px;
    /* padding: 20px; */
}

li {
    list-style: none;
}

.col-1, .col-2 {
    float: left;
    width: 25%;
    padding: 1px;

}

/* .col-2 {
    float: left;
    width: 25%;
    padding: 1px;
    

} */

#row1::after, #row2::after {
    content: "";
    clear: both;
    display: table;
    
}